<%- include("partials/header") -%>

<h1><%= neededPost.Title %> </h1>

<pre  > <%= neededPost.Content%> </pre>
<div class="row">
<div class="col-md-3"><h1 style="color: rgb(26,188,156);"> Comments </h1>
</div>
<h1  class="col-md-9"><a  href="#cmnt"><button  class="btn btn-primary cmntBtn" style="background-color: rgb(99,209,187);" >Add Comment</button></a></h1>
</div>
<% var cnt = 0;%>
<% neededPost.Comments.forEach(comment => { %>
    <% cnt= cnt+1 ;%>
    <p class="comment"> <span><%= cnt%></span>)<%= comment %> </p>
<% }); %>
<div   class="commentSection" id="cmnt">
<form action="/comment" method="POST">

    

    <div class="form-group">
        <label for="exampleInputEmail1">Add your comment</label>
        <textarea name="comment" id="" class="form-control" style="width:500px;height:150px;"></textarea>

    </div>
    <input type="hidden" name="whichTitle" value="<%= neededPost.Title %>"></input>

    <button type="submit" class="btn " style="margin-left: 33%;background-color: rgb(99,209,187);">Add Comment</button>

</form>
</div>



<a href="/"><button type="submit" style="background-color: rgb(99,209,187);" class="btn  btn-primary">Back to Home <i class="fa fa-home" style="font-size:18px"></i></button></a>

<%- include("partials/footer") -%>